HighQualityPics/ChatGPTMath.jpg
credentials.py
__pycache__/credentials.cpython-311.pyc
Outputs/ChatGPT Math.JPG
Outputs/Current affairs.JPG
Outputs/fe236ec9-c9cb-4325-8af4-b3b193faadb3.png
Outputs/Google Search _ LLM Math.JPG
Outputs/Google Search + LLM Math.JPG
Outputs/Google Search.JPG
Outputs/Image.JPG
Outputs/LLMath.JPG
Outputs/Prompt Template.JPG
Outputs/tiger.jfif
Outputs/LLM Math.JPG
Outputs/Image Caption Generation.JPG
*.jpg
*.jfif